{% extends 'base.html.twig' %}
{% block body %}

    <div class="background" >
        <div class="container-image2">
            <div class="row">
                <!--Usługi IT-->
                {{ vievPrepare | raw }}
                <script src="assets//animation.js"></script>
                </div>
            <div class="row2">
                <!--Jesteśmy do Państwa dyspozycji przy realizacji usług wsparcia systemów lub prac programistycznych-->
                </div>
            </div>
        </div>
<div class="container2"><br>
    <div class="subcontent-it">
        <div class="subtitle-it">Szaroki zakres usług IT
        </div>
        <br>
        <p >Przez wiele lat doświadczeń z różnymi projektami czy to w zaresie systemów ERP lub BI mieliśmy okazję wspierać Klientów w doborze właściwych usług, oprogramowania, konfiguracji systemów czy wykonywania interfejsów do wymiany danych. W przypadku systemów Comarch wielokrotnie przygotywaliśmy w ramach złożonych projektów narzędzia do wymiany danych z systemami zewnętrznymi lub systemy raportowe.
            Wśród standardowych usług zapewniamy pelen zakres usług wsparcia i rozwoju systemów ERP Comarch.<br></p>
    </div>
    <br>
{% endblock %}
