{% extends 'base.html.twig' %}
{% block body %}

    <div class="background" >
        <div class="container-image2">
            <div class="row">
                <!--O nas-->
                {{ vievPrepare | raw }}
                <br>
                </div>
            <div class="row2">
                <!--Retail Technology Consulting Sp. z o.o. to firma zajmująca się sprzedażą, wdrażaniem i serwisowaniem zintegrowanych systemów informatycznych klasy ERP i szeroko pojętą analityką biznesową. Oferowane przez nas rozwiązania poprawiają kontrolę, analizę danych  i zarządzanie  całym przedsiębiorstwem. W zakresie oferowanych rozwiązań nawiązaliśmy strategiczne Partnerstwa i rozwijamy usługi w zakresie systemów  Comarch i QLIK.-->
                <script src="assets//animation.js"></script>

            </div>
        </div>        </div>

    <div class="container2"><br>
        <div class="subcontent">
        <div class="subtitle">Obszary działalności</div>
            <p >Retail Technology Consulting Sp. z o.o. prowadzi działalność w następujących obszarach:
                <br>
                <br><b>Consulting </b>– wsparcie wiedzą ekspercką w zakresie rozwiązań ERP oraz Business Inteligence oraz przetwarzania danych.<br>
                <br><b>Wdrożenia</b> – Wykonane przez nas prace instalacyjno-wdrożeniowe systemów ERP, Business Intelligence to pakiet usług obejmujący uzgodnienia instalacyjne i konfiguracyjne, uruchomienie środowiska, instalację, konfiguracje,testy oraz szkolenia
                użytkowników
                <br>
                <br><b>Zarządzanie Projektami</b> – W planowaniu strategii, metodologii i prowadzeniu projektów kierujemy się uznanymi metodami zarządzania jak np.: Prince2, ITIL, Six Sigma. Dokładamy wszelkich starań aby dostosować sposoby i możliwości prowadzenia
                projektów do indywidualnych potrzeb organizacji
                <br>
                <br><b>Optymalizacja procesów biznesowych </b>– Pomagamy w istotny sposób usprawnić procesy sprzedaży, realizacji zakupów, finansowo-księgowe, planowania i raportowania. Dzięki takim usprawnieniom klienci mogą znacząco obniżyć koszty przy jednoczesnym
                zachowaniem standardu jakości.<br></p>
        </div>
        <div class="photo" ><div class="centred"><img src="assets/comarchxl.png" class="image" id="myImg"> </div></div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- The Close Button -->
            <span class="close" id="close">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">
        </div>
    </div>
    <br>
    <div class="container2"><br>
        <div class="subcontent">
            <div class="subtitle">Misja firmy</div>
            <p >
                Dostarczanie najnowocześniejszych i zaawansowanych rozwiązań szerokiemu gronu przedsiębiorców. Każdy klient jest dla nas wyjątkowy, dlatego też dokładamy wszelkich starań, aby nasza wiedza i doświadczenie stały się cennym narzędziem w osiągnięciu
                trwałej przewagi konkurencyjnej. Bierzemy pod uwagę specyfikę i niejednokrotnie unikalne wymagania naszych klientów, aby dostarczyć wysokiej jakości usługi, które pomogą w rozwinięciu pełnego potencjału i kontroli nad biznesem.
            </p>
        </div>
    </div>

    <br>
    <div class="container2"><br>
        <div class="photo" ><div class="centred"><img src="assets/qliksense2.png" class="image" id="myImg2"> </div></div>
        <div class="subcontent">
            <div class="subtitle">Wartości</div>
            Naszej codziennej pracy przyświecają wartości:&nbsp;
            <br>• Zaangażowanie – Nasza codzienna praca to aktywny udział w znalezieniu najlepszych możliwych rozwiązań dla naszych klientów. Nasi pracownicy to wysokiej klasy specjaliści zdeterminowani do pokonania wszelkich trudności i w pełni przyjmujący
            odpowiedzialność za podejmowane działania. Dzięki tej wartości możemy budować i utrzymywać trwałe idobre relacje z naszymi klientami.&nbsp;
            <br>• Zaufanie – Nasza rzetelność I uczciwość zobowiązuje nas do dotrzymania wszelkich terminów, dzięki temu masz pewność, że twoje zlecenie będzie wykonane terminowo i solidnie.&nbsp;
            <br>• Otwartość – Zawsze jesteśmy gotowi podjąć wyzwanie, jakim jest nowe zlecenie. Słuchamy i staramy się zrozumieć naszych klientów, a nasi eksperci udzielają im cennych porad i wskazówek, co do oferowanych przez nas rozwiązań.&nbsp;
            <br>• Innowacyjność – Dostarczamy wysokiej klasy technologie i najnowocześniejsze rozwiązania. Naszym sukcesem jest innowacyjny sposób działania oraz to, że nie boimy się wykorzystania dostępnych technologii w niestandardowy sposób.
        </div>
    </div>
    <div class="container2"><br>
        <div class="photo" ></div>
        <div class="subcontent">
            <div class="subtitle">Kluczowe daty w historii</div>
            <p >2011 - Powołanie spółki, rozpoczęcie działalnosci &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                <br>2012 - Umowa Partnerska z HP - komputery osobiste i serwery
                <br>2014 - Umowa SubPartnerska z QLIK &nbsp;
                <br>2015 - Przejecie Partnera Comarch działającego na obszarze woj. śląskiego. Rozszerzenie współpracy w zakresie oprogramowania Comarch o rozwiązania Optima i XL
                <br>2018 - Otwarcie biura w Krakowie</p>
        </div>
    </div>
    <script src="assets//companyJS.js"></script>

{% endblock %}
