{% extends 'header.html.twig' %}
{% block body %}

    <div class="background" >
        <div class="container-image2">
            <div class="row">
                O nas
                <br>
                </div>
            <div class="row2">
                Retail Technology Consulting Sp. z o.o. to firma zajmująca się sprzedażą, wdrażaniem i serwisowaniem zintegrowanych systemów informatycznych klasy ERP i szeroko pojętą analityką biznesową. Oferowane przez nas rozwiązania poprawiają kontrolę, analizę danych  i zarządzanie  całym przedsiębiorstwem. W zakresie oferowanych rozwiązań nawiązaliśmy strategiczne Partnerstwa i rozwijamy usługi w zakresie systemów  Comarch i QLIK.

            </div>
        </div>        </div>

    <div class="subtitle">Obszary działalności<br>
        <div class="subcontent">
            <p >Retail Technology Consulting Sp. z o.o. prowadzi działalność w następujących obszarach:
                <br>
                <br><b>Consulting </b>– wsparcie wiedzą ekspercką w zakresie rozwiązań ERP oraz Business Inteligence oraz przetwarzania danych.<br>
                <br><b>Wdrożenia</b> – Wykonane przez nas prace instalacyjno-wdrożeniowe systemów ERP, Business Intelligence to pakiet usług obejmujący uzgodnienia instalacyjne i konfiguracyjne, uruchomienie środowiska, instalację, konfiguracje,testy oraz szkolenia
                użytkowników
                <br>
                <br><b>Zarządzanie Projektami</b> – W planowaniu strategii, metodologii i prowadzeniu projektów kierujemy się uznanymi metodami zarządzania jak np.: Prince2, ITIL, Six Sigma. Dokładamy wszelkich starań aby dostosować sposoby i możliwości prowadzenia
                projektów do indywidualnych potrzeb organizacji
                <br>
                <br><b>Optymalizacja procesów biznesowych </b>– Pomagamy w istotny sposób usprawnić procesy sprzedaży, realizacji zakupów, finansowo-księgowe, planowania i raportowania. Dzięki takim usprawnieniom klienci mogą znacząco obniżyć koszty przy jednoczesnym
                zachowaniem standardu jakości.<br></p>
        </div>
        <div class="photo" ><div class="centred"><img src="comarchxl.png" style="width: 100%; align-self: center;"> </div></div>
    </div>
    <br>
    <div class="subtitle"></div>
    <div class="footer">
        <div class="py-5 bg-primary">
            <div class="container">
                <div class="row3">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group"> <label for="InputEmail1">Zapisz się na newsletter</label>
                                <input type="email" class="form-control" id="InputEmail1" placeholder="Enter email"> </div>
                            <button type="submit" class="btn btn-secondary">Wyślij</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h2>Skontaktuj się z nami</h2>
                        <h3>
                            <p>Retail Technology Consulting Sp. z o.o.</p>
                        </h3>
                        <p>ul. Chrobrego 31/82, 40-881 Katowice</p>
                        <p>email: biuro(at)rtcgroup.pl</p>
                        <p>Adres biura w Krakowie: Regus Kraków Fronton
                            <br> ul. Kamienna 21, &nbsp;31-403 Kraków </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
